body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: #242F9B;
    padding: 2rem;
}

nav a {
    color: #DBDFFD;
    margin-right: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    border: 1px solid #DBDFFD;
    padding: 1rem;
}


#container {
    background-color: #DBDFFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
    font-family: 'acme', sans-serif;
}

#container label {
    font-size: 2rem;
}

#container h1 {
    font-size: 3rem;
}

.side-length {
    height: 20px;
    min-width: 300px;
    font-family: sans-serif;
    border: 2px solid black;
    padding: 1rem;
    margin: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #DBDFFD;
    font-family: 'acme', sans-serif;
}